<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="copyright">
                Copyright &copy; 2015 -
                Made with <i class="fa fa-fw fa-heart heartbeat-animation" style="color: #FE0E39;"></i>
                in EU
                by
                <a href="https://twitter.com/bobalazek" target="_blank">Borut Balažek</a>
            </div> <!-- /#copyright -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">
            <div class="pull-right">
                <nav id="tertiary-navigation" class="navigation" role="navigation">
                    <ul id="tertiary-navigation-list" class="navigation-list list-inline">
                        <li>
                            <a href="">Home</a>
                        </li>
                    </ul> <!-- /#tertiary-navigation-list -->
                </nav> <!-- /#tertiary-navigation -->
            </div> <!-- /.pull-right -->
        </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
